<app-loadingpage *ngIf="loading$"></app-loadingpage>
<div class="w-full h-full relative bg-white rounded-[4px]">
    <div class="px-12 pt-12 pb-0 flex flex-col items-center">
        <i class="fa fa-times absolute top-0 right-0 m-4 cursor-pointer" aria-hidden="true" (click)="onClose()"></i>
        <div class="content flex flex-col items-center">
            <label>                
                <span>
                    <span class="text-base font-bold">Quét mã QR dưới đây để thanh toán gói dịch vụ</span>
                </span>
            </label>
            <img src="./assets/images/ic-package.312e20a.png" alt="">
            <div class="mt-8">Gói đã chọn: <span class="font-semibold">{{data.pack_name}}</span></div>
            <div>Giá tiền: <span class="font-semibold">{{data.price}}</span></div>
            <div>Nội dung chuyển tiền: <span class="font-semibold">SĐT + Gói dịch vụ</span></div>
            <label>                
                <span>
                    <span class="text-base font-bold">Bấm xác nhận sau khi thanh toán gói dịch vụ</span>
                </span>
            </label>
        </div>
        <div class="px-4 py-[10px]">
            <div class="flex justify-center">
                <button type="button" (click)="xac_nhan()"
                    class="w-40 mb-6 mt-2 bg-[#00b289] h-[40px] px-[15px] text-base rounded-[4px] text-white">
                    <span>XÁC NHẬN</span>
                </button>
            </div>
        </div>
    </div>
</div>