<div class="w-full border border-solid border-[#124b9f] overflow-hidden transition-all ease-in-out duration-300 h-auto"
    [ngClass]="{'max-h-[39px]':iscols,'max-h-screen':!iscols}">
    <div class="py-2 px-3 relative leading-[22px] cursor-pointer bg-[#124b9f]" (click)="showHidediv()">
        <span class="font-[Roboto] text-sm text-white">Câu {{cauhoi_in.visible_index}}</span>
    </div>
    <div class="p-3">
        <label for="" class="block mb-1 text-sm font-bold text-[13px] font-[Roboto]">Câu hỏi</label>
        <input type="text" #title value="{{cauhoi_in.noidung}}" (keyup)="change_noidung(title)"
            (focusout)="focusout_nd(title)" class="w-full text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] focus:border focus:border-solid focus:border-[#124b9f]
        bg-white border border-solid border-[#d9d9d9] my-[3px] mr-[6px] ml-0 h-8 text-[13px]">
        <div *ngIf="!is_valid_nd">
            <span class="text-red-600 text-xs italic">
                Câu hỏi không được để trống!
            </span>
        </div>
        <div [ngSwitch]="cauhoi_in.type">
            <div *ngSwitchCase="'luachon'">
                <div *ngFor="let it of cauhoi_in.element; let i = index">
                    <label for="first_name" class="block mb-1 text-sm font-bold text-[13px] font-[Roboto]">Nhập câu trả
                        lời</label>
                    <div class="relative">
                        <input type="text" [ngClass]="{'w-[calc(100%_-_16px)] mr-[16px]':i>1,'w-full':i<=1}" class="text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] focus:border focus:border-solid focus:border-[#124b9f]
                            bg-white border border-solid border-[#d9d9d9] my-[3px] ml-0 h-8 text-[13px]"
                            value="{{it.value}}" placeholder="Câu trả lời" (keyup)="change_traloi($event,it.key)" (focusout)="focusout_traloi($event,it.key)">
                        <div [ngClass]="{'hidden':i<=1,'block':i>1}">
                            <i class="fa fa-trash float-left absolute right-0 top-[11px] text-red-600 cursor-pointer"
                                aria-hidden="true" (click)="delete_cautl(it.key)"></i>
                        </div>
                    </div>
                    <div *ngIf="is_valid_traloi(it.key)">
                        <span class="text-red-600 text-xs italic">
                            Câu trả lời không được để trống!
                        </span>
                    </div>
                </div>
                <button (click)="them_cautl()" class="leading-[1.5] relative inline-block font-normal text-center cursor-pointer h-8 px-[15px] 
                    bg-[#124b9f] text-white text-[13px] mr-[5px] my-[5px]"><i class="fa fa-plus"
                        aria-hidden="true"></i> Thêm câu trả lời</button>
            </div>
            <div *ngSwitchCase="'dropdown'">
                <div *ngFor="let it of cauhoi_in.element; let i = index">
                    <label for="first_name" class="block mb-1 text-sm font-bold text-[13px] font-[Roboto]">Nhập câu trả
                        lời</label>
                    <div class="relative">
                        <input type="text" [ngClass]="{'w-[calc(100%_-_16px)] mr-[16px]':i>1,'w-full':i<=1}" class="text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] focus:border focus:border-solid focus:border-[#124b9f]
                            bg-white border border-solid border-[#d9d9d9] my-[3px] ml-0 h-8 text-[13px]"
                            value="{{it.value}}" placeholder="Câu trả lời" (keyup)="change_traloi($event,it.key)" (focusout)="focusout_traloi($event,it.key)">
                        <div [ngClass]="{'hidden':i<=1,'block':i>1}">
                            <i class="fa fa-trash float-left absolute right-0 top-[11px] text-red-600 cursor-pointer"
                                aria-hidden="true" (click)="delete_cautl(it.key)"></i>
                        </div>
                    </div>
                    <div *ngIf="!is_valid_traloi(it.key)">
                        <span class="text-red-600 text-xs italic">
                            Câu trả lời không được để trống!
                        </span>
                    </div>
                </div>
                <button (click)="them_cautl()" class="leading-[1.5] relative inline-block font-normal text-center cursor-pointer h-8 px-[15px] 
                    bg-[#124b9f] text-white text-[13px] mr-[5px] my-[5px]"><i class="fa fa-plus"
                        aria-hidden="true"></i> Thêm câu trả lời</button>
            </div>
            <div *ngSwitchCase="'images'">
                <div *ngFor="let it of cauhoi_in.element; let i = index" class="flex flex-row mt-1">
                    <div class="flex flex-col max-w-[75px] mr-2">
                        <div class="text-[#124b9f] border border-dashed border-[#124b9f] w-[60px] h-[60px] rounded-[2px] relative flex
                            items-center justify-center cursor-pointer">
                            <span class="text-[13px] font-[Roboto]">Tải ảnh</span>
                        </div>
                    </div>
                    <div class="grow relative h-auto align-top box-border mt-1">
                        <label for="" class="block text-sm font-bold text-[13px] font-[Roboto]"> Nhập mô tả</label>
                        <div class="relative">
                            <input type="text" value=""
                                [ngClass]="{'w-[calc(100%_-_16px)] mr-[16px]':i>1,'w-full':i<=1}" class="text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] focus:border focus:border-solid focus:border-[#124b9f]
                            bg-white border border-solid border-[#d9d9d9] my-[3px] ml-0 h-8 text-[13px]"
                                (keyup)="change_traloi($event,it.key)">
                            <div [ngClass]="{'hidden':i<=1,'block':i>1}">
                                <i class="fa fa-trash float-left absolute right-0 top-[11px] text-red-600 cursor-pointer"
                                    aria-hidden="true" (click)="delete_cautl(it.key)"></i>
                            </div>
                        </div>
                        <div *ngIf="!is_valid_traloi(it.key)">
                            <span class="text-red-600 text-xs italic">
                                Mô tả không được để trống!
                            </span>
                        </div>
                    </div>

                </div>
                <button (click)="them_cautl()" class="leading-[1.5] relative inline-block font-normal text-center cursor-pointer h-8 px-[15px] 
                bg-[#124b9f] text-white text-[13px] mr-[5px] my-[5px]"><i class="fa fa-plus" aria-hidden="true"></i>
                    Thêm câu trả lời</button>
            </div>
        </div>
    </div>

</div>