::ng-deep .mat-dialog-container {
    padding: 0px;
    border-radius: 0px;
}
.ic-link-active {
    -webkit-filter: invert(31%) sepia(78%) saturate(1550%) hue-rotate(213deg) brightness(97%) contrast(92%);
    filter: invert(31%) sepia(78%) saturate(1550%) hue-rotate(213deg) brightness(97%) contrast(92%);
}