<div class="border-t border-solid border-[#e8e8e8]">
    <ul class="leading-[46px] whitespace-nowrap border-b border-solid border-[#e8e8e8] shadow-none
    box-border bg-white outline-0">
        <li class="relative top-[1px] inline-block align-bottom px-5 text-[14px] text-[#000000a6]">Thêm doanh nghiệp, cá
            nhân mới
        </li>
    </ul>
</div>
<form class="w-1/2 relative" [formGroup]="DataForm">
    <div class="grid grid-cols-2 gap-2 p-6">
        <div class="flex flex-col relative my-2">
            <label for="" class="inline-block relative font-bold text-sm font-[Roboto]">Ảnh đại diện</label>
            <div class="flex flex-row">
                <button class="add-file ant-btn flex flex-wrap relative ant-btn-default" type="button"
                    (click)="showDialog('daidien')" style="width: 100px; height: 100px;">
                    <img src="./assets/images/img_add.png" alt="">
                </button>
                <div class="add-file ant-btn flex flex-wrap relative ant-btn-default ml-1 border rounded-[7px]"
                    [ngClass]="{'border-solid border-[#d9d9d9]':src_daidien!='',' border-solid border-red-600':src_daidien=='' || src_daidien==null}"
                    style="width: 100px; height: 100px;">
                    <img src="{{src_daidien}}" alt="" style="object-fit: contain;">
                    <input type="hidden" [formControlName]="'logo'" name="logo" value="">
                </div>
            </div>
            <div *ngIf="src_daidien=='' || src_daidien==null">
                <span class="text-red-600 text-xs italic">Ảnh đại diện không
                    được để trống!</span>
            </div>
        </div>
        <div class="flex flex-col relative my-2">
            <label for="" class="inline-block relative font-bold text-sm font-[Roboto]">Ảnh bìa</label>
            <div class="flex flex-row">
                <button class="add-file ant-btn flex flex-wrap relative ant-btn-default" type="button"
                    (click)="showDialog('bia')" style="width: 100px; height: 100px;">
                    <img src="./assets/images/img_add.png" alt="">
                </button>
                <div class="add-file ant-btn flex flex-wrap relative ant-btn-default ml-1"
                    style="width: 100px; height: 100px;">
                    <img src="{{src_bia}}" alt="">
                </div>
            </div>
        </div>
        <div class="flex flex-col relative my-2 col-span-2">
            <label for="" class="inline-block relative font-bold text-sm font-[Roboto]">Thư viện ảnh</label>
            <div class="flex flex-row">
                <button class="add-file ant-btn flex flex-wrap relative ant-btn-default" type="button"
                    (click)="showDialog('bia')" style="width: 100px; height: 100px;">
                    <img src="./assets/images/img_add.png" alt="">
                </button>
                <div class="add-file ant-btn flex flex-wrap relative ant-btn-default ml-1"
                    style="width: 100px; height: 100px;">
                    <img src="{{src_bia}}" alt="">
                </div>
            </div>
        </div>
        <div class="flex flex-col relative my-2 col-span-2">
            <label for="" class="inline-block relative font-bold text-sm font-[Roboto]">Video</label>
            <div class="flex flex-row">
                <button class="add-file ant-btn flex flex-wrap relative ant-btn-default" type="button"
                    (click)="showDialog('video')" style="width: 100px; height: 100px;">
                    <img src="./assets/images/img_add.png" alt="">
                </button>
                <div class="add-file ant-btn flex flex-wrap relative ant-btn-default ml-1"
                    style="width: 100px; height: 100px;">
                    <img src="{{src_video}}" alt="">
                </div>
            </div>
        </div>
        <div>
            <label for="first_name" class="block mb-2 text-sm font-bold text-[13px] font-[Roboto]">
                <span>Tên doanh nghiệp, cá nhân</span>
                <span><span>(</span><span class="text-red-600 align-text-top">*</span><span>)</span>
                </span>
            </label>
            <input type="text" class="w-full text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] focus:border focus:border-solid focus:border-[#196898]
        bg-white border border-solid border-[#d9d9d9] my-[3px] mr-[6px] ml-0 h-8 text-[13px]"
                placeholder="Nhập tên điểm check in, cửa hàng, toà nhà, tài xế..." [formControlName]="'name'"
                [ngClass]="{'border-red-600':!DataForm.controls['name'].valid && (DataForm.controls['name'].dirty || DataForm.controls['name'].touched) && DataForm.controls['name'].errors?.['required']}"
                name="name" value="" required>
            <div
                *ngIf="!DataForm.controls['name'].valid  && (DataForm.controls['name'].dirty || DataForm.controls['name'].touched)">
                <span *ngIf="DataForm.controls['name'].errors?.['required']" class="text-red-600 text-xs italic">Trường
                    không
                    được để trống!</span>
            </div>
        </div>
        <div>
            <label for="taxcode" class="block mb-2 text-sm font-bold text-[13px] font-[Roboto]">Mã số thuế</label>
            <input type="text" class="w-full text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] focus:border focus:border-solid focus:border-[#196898]
        bg-white border border-solid border-[#d9d9d9] my-[3px] mr-[6px] ml-0 h-8 text-[13px]" placeholder="Mã số thuế"
                [formControlName]="'taxcode'" name="taxcode" value="">
        </div>
        <div>
            <label for="tel" class="block mb-2 text-sm font-bold text-[13px] font-[Roboto]">
                <span>Điện thoại liên hệ</span>
                <span><span>(</span><span class="text-red-600 align-text-top">*</span><span>)</span>
                </span>
            </label>
            <input type="text" class="w-full text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] focus:border focus:border-solid focus:border-[#196898]
        bg-white border border-solid border-[#d9d9d9] my-[3px] mr-[6px] ml-0 h-8 text-[13px]" [ngClass]="{'border-red-600':((!DataForm.controls['tel'].valid) && (DataForm.controls['tel'].dirty || DataForm.controls['tel'].touched) && DataForm.controls['tel'].errors?.['required'])
            ||DataForm.controls['tel'].hasError('minlength') || DataForm.controls['tel'].hasError('maxlength')}"
                placeholder="Số điện thoại doanh nghiệp" [formControlName]="'tel'" name="tel" value="" required>
            <div
                *ngIf="!DataForm.controls['tel'].valid  && (DataForm.controls['tel'].dirty || DataForm.controls['tel'].touched)">
                <span *ngIf="DataForm.controls['tel'].errors?.['required']" class="text-red-600 text-xs italic">Trường
                    không
                    được để trống!</span>
                <span *ngIf="DataForm.controls['tel'].hasError('minlength')" class="text-red-600 text-xs">Độ dài tối
                    thiểu 9 ký tự!</span>
                <span *ngIf="DataForm.controls['tel'].hasError('maxlength')" class="text-red-600 text-xs">Độ dài tối đa
                    12 ký tự!</span>
            </div>
        </div>
        <div>
            <label for="fax" class="block mb-2 text-sm font-bold text-[13px] font-[Roboto]">Fax</label>
            <input type="text" class="w-full text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] focus:border focus:border-solid focus:border-[#196898]
        bg-white border border-solid border-[#d9d9d9] my-[3px] mr-[6px] ml-0 h-8 text-[13px]" placeholder="Fax"
                [formControlName]="'fax'" name="fax" value="">
        </div>
        <div>
            <label for="first_name" class="block mb-2 text-sm font-bold text-[13px] font-[Roboto]">Quốc gia</label>
            <div class="relative">
                <span class="block absolute top-2 right-2 z-[999]" unselectable="unselectable"
                    style="user-select: none;">
                    <i class="fa fa-angle-up text-gray-800 transition-all duration-300"
                        [ngClass]="{'rotate-0 pr-2 pl-0':rotate_it,'rotate-180 pl-2':!rotate_it}" aria-hidden="true"
                        style="font-weight: 400; font-size: 13px;"></i>
                </span>
                <input #input_quocgia class="w-full text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] focus:border focus:border-solid focus:border-[#196898]
                bg-white border border-solid border-[#d9d9d9] my-[3px] mr-[6px] ml-0 h-8 text-[13px]"
                    placeholder="--Quốc gia--" aria-label="State" [matAutocomplete]="quocgiaAutocomplete"
                    value="Việt Nam" disabled>
                <mat-autocomplete #quocgiaAutocomplete="matAutocomplete">
                    <mat-option *ngFor="let it of array_quocgia" [value]="it.value">
                        <span>{{it.value}}</span>
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
        <div>
            <label for="first_name" class="block mb-2 text-sm font-bold text-[13px] font-[Roboto]">
                <span>Tỉnh, thành phố</span>
                <span><span>(</span><span class="text-red-600 align-text-top">*</span><span>)</span>
                </span>
            </label>
            <div class="relative">
                <span class="block absolute top-2 right-2 z-[999]" unselectable="unselectable"
                    style="user-select: none;">
                    <i class="fa fa-angle-up text-gray-800 transition-all duration-300"
                        [ngClass]="{'rotate-0 pr-2 pl-0':rotate_it,'rotate-180 pl-2':!rotate_it}" aria-hidden="true"
                        style="font-weight: 400; font-size: 13px;"></i>
                </span>

                <input #input_tinh_none class="w-full text-ellipsis relative py-1 px-[11px] leading-[1.5] focus:border focus:border-solid focus:border-[#196898]
                bg-white border border-solid border-[#d9d9d9] my-[3px] mr-[6px] ml-0 h-8 text-[13px]"
                    placeholder="--Tỉnh, thành phố--" aria-label="State" [matAutocomplete]="tinhAutocomplete"
                    (keyup)="auto_tinh_change(input_tinh_none)" [value]="val_tinh"
                    (focusout)="focusOutFunction('province')"
                    [ngClass]="{'border-red-600':!DataForm.controls['province'].valid}">
                <mat-autocomplete #tinhAutocomplete="matAutocomplete" [displayWith]="displayFn"
                    (optionSelected)="select_it($event)">
                    <mat-option *ngFor="let it of arr_tinh" [value]="it">
                        <span>{{it.name}}</span>
                    </mat-option>
                </mat-autocomplete>
                <div *ngIf="!DataForm.controls['province'].valid">
                    <span *ngIf="DataForm.controls['province'].errors?.['required']"
                        class="text-red-600 text-xs italic">Trường
                        không
                        được để trống!</span>
                </div>
                <input #hd_tinh type="hidden" [formControlName]="'province'">
            </div>
        </div>
        <div>
            <label for="first_name" class="block mb-2 text-sm font-bold text-[13px] font-[Roboto]">
                <span>Quận, huyện</span>
                <span><span>(</span><span class="text-red-600 align-text-top">*</span><span>)</span>
                </span>
            </label>
            <div class="relative">
                <span class="block absolute top-2 right-2 z-[999]" unselectable="unselectable"
                    style="user-select: none;">
                    <i class="fa fa-angle-up text-gray-800 transition-all duration-300"
                        [ngClass]="{'rotate-0 pr-2 pl-0':rotate_it,'rotate-180 pl-2':!rotate_it}" aria-hidden="true"
                        style="font-weight: 400; font-size: 13px;"></i>
                </span>
                <input #input_huyen class="w-full text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] focus:border focus:border-solid focus:border-[#196898]
                bg-white border border-solid border-[#d9d9d9] my-[3px] mr-[6px] ml-0 h-8 text-[13px]"
                    placeholder="--Tỉnh, thành phố--" aria-label="State" [matAutocomplete]="huyenAutocomplete"
                    (keyup)="auto_huyen_chang(input_huyen)" [value]="val_huyen"
                    [ngClass]="{'border-red-600':!DataForm.controls['district'].valid}"
                    (focusout)="focusOutFunction('district')">
                <mat-autocomplete #huyenAutocomplete="matAutocomplete" [displayWith]="displayFn"
                    (optionSelected)="select_it_huyen($event)">
                    <mat-option *ngFor="let it of array_huyen" [value]="it">
                        <span>{{it.name}}</span>
                    </mat-option>
                </mat-autocomplete>
                <div *ngIf="!DataForm.controls['district'].valid">
                    <span *ngIf="DataForm.controls['district'].errors?.['required']" class="text-red-600 text-xs italic">
                        Trường không được để trống!
                    </span>
                </div>
                <input type="hidden" [formControlName]="'district'" name="district" value="">
            </div>
        </div>
        <div>
            <label for="first_name" class="block mb-2 text-sm font-bold text-[13px] font-[Roboto]">
                <span>Xã, phường</span>
                <span><span>(</span><span class="text-red-600 align-text-top">*</span><span>)</span>
                </span>
            </label>
            <div class="relative">
                <span class="block absolute top-2 right-2 z-[999]" unselectable="unselectable"
                    style="user-select: none;">
                    <i class="fa fa-angle-up text-gray-800 transition-all duration-300"
                        [ngClass]="{'rotate-0 pr-2 pl-0':rotate_it,'rotate-180 pl-2':!rotate_it}" aria-hidden="true"
                        style="font-weight: 400; font-size: 13px;"></i>
                </span>
                <input #input_xa class="w-full text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] focus:border focus:border-solid focus:border-[#196898]
                bg-white border border-solid border-[#d9d9d9] my-[3px] mr-[6px] ml-0 h-8 text-[13px]"
                    placeholder="--Xã, phường--" aria-label="State" [matAutocomplete]="xaAutocomplete"
                    (keyup)="auto_xa_chang(input_xa)" [value]="val_xa"
                    [ngClass]="{'border-red-600':!DataForm.controls['wards'].valid}"
                    (focusout)="focusOutFunction('wards')">
                <mat-autocomplete #xaAutocomplete="matAutocomplete" [displayWith]="displayFn"
                    (optionSelected)="select_it_xa($event)">
                    <mat-option *ngFor="let it of array_xa" [value]="it">
                        <span>{{it.name}}</span>
                    </mat-option>
                </mat-autocomplete>
                <div *ngIf="!DataForm.controls['wards'].valid">
                    <span *ngIf="DataForm.controls['wards'].errors?.['required']" class="text-red-600 text-xs italic">
                        Trường không được để trống!
                    </span>
                </div>
                <input type="hidden" [formControlName]="'wards'" name="wards" value="">
            </div>
        </div>
        <div>
            <label for="first_name" class="block mb-2 text-sm font-bold text-[13px] font-[Roboto]">
                <span>Nhóm ngành</span>
                <span><span>(</span><span class="text-red-600 align-text-top">*</span><span>)</span>
                </span>
            </label>
            <div class="relative">
                <span class="block absolute top-2 right-2 z-[999]" unselectable="unselectable"
                    style="user-select: none;">
                    <i class="fa fa-angle-up text-gray-800 transition-all duration-300"
                        [ngClass]="{'rotate-0 pr-2 pl-0':rotate_it,'rotate-180 pl-2':!rotate_it}" aria-hidden="true"
                        style="font-weight: 400; font-size: 13px;"></i>
                </span>
                <input #input_sector class="w-full text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] focus:border focus:border-solid focus:border-[#196898]
                bg-white border border-solid border-[#d9d9d9] my-[3px] mr-[6px] ml-0 h-8 text-[13px]"
                    placeholder="--Nhóm ngành--" aria-label="State" [matAutocomplete]="sectorAutocomplete"
                    (keyup)="auto_sector_change(input_sector)" [value]="val_sector"
                    [ngClass]="{'border-red-600':!DataForm.controls['sectors_code'].valid}"
                    (focusout)="focusOutFunction('sectors_code')">
                <mat-autocomplete #sectorAutocomplete="matAutocomplete" [displayWith]="displayFn"
                    (optionSelected)="select_it_sectors($event)">
                    <mat-option *ngFor="let it of array_sectors" [value]="it">
                        <span>{{it.name}}</span>
                    </mat-option>
                </mat-autocomplete>
                <input type="hidden" [formControlName]="'sectors_code'" name="sectors_code" value="">
                <div *ngIf="!DataForm.controls['sectors_code'].valid">
                    <span *ngIf="DataForm.controls['sectors_code'].errors?.['required']" class="text-red-600 text-xs italic">
                        Trường không được để trống!
                    </span>
                </div>

            </div>
        </div>
        <div>
            <label for="first_name" class="block mb-2 text-sm font-bold text-[13px] font-[Roboto]">
                <span>Nghề nghiệp</span>
                <span><span>(</span><span class="text-red-600 align-text-top">*</span><span>)</span>
                </span>
            </label>
            <input type="text" class="w-full text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] focus:border focus:border-solid focus:border-[#196898]
        bg-white border border-solid border-[#d9d9d9] my-[3px] mr-[6px] ml-0 h-8 text-[13px]" placeholder="Nghề nghiệp"
                [ngClass]="{'border-red-600':!DataForm.controls['occupation'].valid && (DataForm.controls['occupation'].dirty || DataForm.controls['occupation'].touched) && DataForm.controls['occupation'].errors?.['required']}"
                [formControlName]="'occupation'" name="occupation" value="" required>
            <div
                *ngIf="!DataForm.controls['occupation'].valid  && (DataForm.controls['occupation'].dirty || DataForm.controls['occupation'].touched)">
                <span *ngIf="DataForm.controls['occupation'].errors?.['required']"
                    class="text-red-600 text-xs italic">Trường
                    không
                    được để trống!</span>
            </div>
        </div>
        <div>
            <label for="first_name" class="block mb-2 text-sm font-bold text-[13px] font-[Roboto]">
                <span>Email</span>
                <span><span>(</span><span class="text-red-600 align-text-top">*</span><span>)</span>
                </span>
            </label>
            <input type="text" class="w-full text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] focus:border focus:border-solid focus:border-[#196898]
        bg-white border border-solid border-[#d9d9d9] my-[3px] mr-[6px] ml-0 h-8 text-[13px]"
                placeholder="Nhập email tại đây" [formControlName]="'email'" name="email" value="" required
                [ngClass]="{'border-red-600':!DataForm.controls['email'].valid && (DataForm.controls['email'].dirty || DataForm.controls['email'].touched) && DataForm.controls['email'].errors?.['required']}">
            <div
                *ngIf="!DataForm.controls['email'].valid  && (DataForm.controls['email'].dirty || DataForm.controls['email'].touched)">
                <span *ngIf="DataForm.controls['email'].errors?.['required']" class="text-red-600 text-xs italic">Trường
                    không được để trống!</span>
            </div>
        </div>
        <div class="col-span-2">
            <label for="first_name" class="block mb-2 text-sm font-bold text-[13px] font-[Roboto]">
                <span>Địa chỉ</span>
                <span><span>(</span><span class="text-red-600 align-text-top">*</span><span>)</span>
                </span>
            </label>
            <input type="text" class="w-full text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] focus:border focus:border-solid focus:border-[#196898]
        bg-white border border-solid border-[#d9d9d9] my-[3px] mr-[6px] ml-0 h-8 text-[13px]"
                placeholder="Nhập địa chỉ tại đây" [formControlName]="'address'" name="address" value="" required
                [ngClass]="{'border-red-600':(!DataForm.controls['address'].valid && (DataForm.controls['address'].dirty || DataForm.controls['address'].touched) && DataForm.controls['address'].errors?.['required'])
                ||DataForm.controls['address'].hasError('minlength') || DataForm.controls['tel'].hasError('maxlength')}">
            <div
                *ngIf="!DataForm.controls['address'].valid  && (DataForm.controls['address'].dirty || DataForm.controls['address'].touched)">
                <span *ngIf="DataForm.controls['address'].errors?.['required']"
                    class="text-red-600 text-xs italic">Trường
                    không được để trống!</span>
            </div>
        </div>
        <div class="col-span-2" *ngFor="let it of arr_dynamic">
            <label for="first_name" class="block mb-2 text-sm font-bold text-[13px] font-[Roboto]">{{it.key}}</label>
            <div class="flex">
                <input type="text" class=" float-left w-full text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] focus:border focus:border-solid focus:border-[#196898]
                bg-white border border-solid border-[#d9d9d9] my-[3px] mr-[6px] ml-0 h-8 text-[13px]"
                    placeholder="{{it.key}} doanh nghiệp, cá nhân" [formControlName]="it.key">
                <i class="fa fa-trash-o float-left pt-[11px] text-red-600 cursor-pointer" aria-hidden="true"
                    (click)="xoa_dynamic(it.key)"></i>
            </div>

        </div>
        <div class="col-span-2">
            <ul class="inline-block">
                <li class="float-left mr-1 font-bold font-[Roboto]">Thêm liên kết: </li>
                <li (click)="add_dynamic('Website')" class="float-left mr-1 cursor-pointer"
                    [ngClass]="{'ic-link-active':select_dynamic('Website')}"><img
                        src="./assets/images/icon-add-website.svg" style="width: 24px; height: 24px;"></li>
                <li (click)="add_dynamic('Facebook')" class="float-left mr-1 cursor-pointer"
                    [ngClass]="{'ic-link-active':select_dynamic('Facebook')}"><img
                        src="./assets/images/icon-facebook.svg"></li>
                <li (click)="add_dynamic('Shopee')" class="float-left mr-1 cursor-pointer"
                    [ngClass]="{'ic-link-active':select_dynamic('Shopee')}"><img src="./assets/images/icon-shopee.svg">
                </li>
                <li (click)="add_dynamic('Zalo')" class="float-left mr-1 cursor-pointer"
                    [ngClass]="{'ic-link-active':select_dynamic('Zalo')}"><img src="./assets/images/icon-zalo.svg">
                </li>
                <li (click)="add_dynamic('Instagram')" class="float-left mr-1 cursor-pointer"
                    [ngClass]="{'ic-link-active':select_dynamic('Instagram')}"><img src="./assets/images/icon-ig.svg">
                </li>
                <li (click)="add_dynamic('Tiktok')" class="float-left mr-1 cursor-pointer"
                    [ngClass]="{'ic-link-active':select_dynamic('Tiktok')}"><img src="./assets/images/icon-tiktok.svg">
                </li>
                <li (click)="add_dynamic('Tiki')" class="float-left mr-1 cursor-pointer"
                    [ngClass]="{'ic-link-active':select_dynamic('Tiki')}"><img src="./assets/images/icon-tiki.svg">
                </li>
                <li (click)="add_dynamic('Youtube')" class="float-left mr-1 cursor-pointer"
                    [ngClass]="{'ic-link-active':select_dynamic('Youtube')}"><img
                        src="./assets/images/icon-youtube.svg"></li>
                <li (click)="add_dynamic('Linkedin')" class="float-left mr-1 cursor-pointer"
                    [ngClass]="{'ic-link-active':select_dynamic('Linkedin')}"><img
                        src="./assets/images/icon-linkedin.svg"></li>
                <li (click)="add_dynamic('Lazada')" class="float-left mr-1 cursor-pointer"
                    [ngClass]="{'ic-link-active':select_dynamic('Lazada')}"><img src="./assets/images/icon-lazada.svg">
                </li>
                <li (click)="add_dynamic('Sendo')" class="float-left mr-1 cursor-pointer"
                    [ngClass]="{'ic-link-active':select_dynamic('Sendo')}"><img src="./assets/images/icon-sendo.svg">
                </li>
            </ul>
        </div>
    </div>
    <div class="text-center">
        <button type="button" (click)="UpdateData()"
            [ngClass]="{'cursor-not-allowed bg-[#f5f5f5] border-[#d9d9d9] text-[#00000040]':DataForm.invalid,'text-white cursor-pointer bg-[#196898] border-[#196898]':DataForm.valid}"
            class="leading-[1.5] relative inline-block font-normal text-center cursor-pointer h-8 px-[15px] bg-[#196898] text-white text-[13px] mr-[5px] my-[5px]">Cập
            nhật</button>
        <button routerLink="/portal/companies" type="button"
            class="leading-[1.5] relative inline-block font-normal text-center cursor-pointer h-8 px-[15px] bg-[#196898] text-white text-[13px] mr-[5px] my-[5px]">Quay
            lại</button>
    </div>
</form>