<div>
    <div class="page-title mb-7 hidden md:block">
        <h4 class="text-white text-3xl font-semibold mb-0">Tạo QR Code Khảo sát</h4>
    </div>
    <div class="home-page-generate mb-16">
        <div class="ant-row relative h-auto box-border before:table before:content-[''] block"
            style="margin-left: -20px; margin-right: -20px;">
            <div class="relative min-h-[1px] block box-border w-full md:w-[58.33333333%] float-left grow-0 shrink-0 basis-auto"
                style="padding-left: 20px; padding-right: 20px;">
                <div class="bg-white rounded-xl shadow-md mb-5 collapse-block transition-none p-2 md:p-6">
                    <div class="ant-form ant-form-horizontal">
                        <div class="mb-5">
                            <div>
                                <div class="mb-2 block text-black">
                                    <span>Tên QR Code</span>
                                    <span>
                                        <span>(</span><span class="text-red-600 align-text-top">*</span><span>)</span>
                                    </span>
                                </div>
                                <div class="ant-row ant-form-item">
                                    <div class="ant-col ant-form-item-control-wrapper">
                                        <div class="ant-form-item-control">
                                            <span class="ant-form-item-children">
                                                <input placeholder="Nhập tên QR Code" type="text"
                                                    (focusout)="focusFunction()" [(ngModel)]="name_qrcode"
                                                    class="ant-input text-ellipsis box-border m-0 relative inline-block w-full h-8 p-2 md:py-[4px] md:px-[11px] leading-[1.5] bg-white border border-solid border-[#d9d9d9] rounded outline-none focus:border-[#40a9ff] text-sm">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-5">
                            <div>
                                <div class="mb-2 block text-black">
                                    <span>Chọn gói dịch vụ</span>
                                    <span>
                                        <span>(</span><span class="text-red-600 align-text-top">*</span><span>)</span>
                                    </span>
                                </div>
                                <div class="ant-row ant-form-item">
                                    <div class="ant-col -wrapper">
                                        <div class=" relative">
                                            <span>
                                                <input
                                                    class=" text-ellipsis box-border m-0 relative inline-block w-full h-8 p-2 md:py-[4px] md:px-[11px] leading-[1.5] bg-white border border-solid border-[#d9d9d9] rounded outline-none focus:border-[#40a9ff] text-sm"
                                                    (keyup)="auto_change_ks($event.target)"
                                                    placeholder="Chọn gói dịch vụ"
                                                    [matAutocomplete]="dichvuAutocomplete" [value]="">
                                                <mat-autocomplete #dichvuAutocomplete="matAutocomplete"
                                                    [displayWith]="displayFn" (optionSelected)="select_payment($event)">
                                                    <mat-option *ngFor="let it of filter_payment|async" [value]="it"
                                                        style="height: 50px; font-size: 14px; border-bottom: 1px solid #d9d9d9;line-height: 1.5rem;"
                                                        class="relative">
                                                        <span class="text-[13px]"><b>Gói dịch vụ:</b>
                                                            {{it.packname}}</span><br>
                                                        <span class="text-[13px]"><b>Ngày kích hoạt:</b>
                                                            {{it.payment_date|date:
                                                            'dd/MM/yyyy'}}</span>
                                                    </mat-option>
                                                    <mat-option *ngIf="(filter_payment | async)?.length == 0">
                                                        <span>Không có dữ liệu hiển thị</span>
                                                    </mat-option>
                                                </mat-autocomplete>
                                                <span
                                                    class="absolute top-1/2 right-[11px] z-[1] inline-block w-3 h-3 -mt-[6px] leading-3 text-center"
                                                    style="user-select: none;">
                                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-5">
                            <div>
                                <div class="mb-2 block text-black">
                                    <span>Chọn khảo sát</span>
                                    <span>
                                        <span>(</span><span class="text-red-600 align-text-top">*</span><span>)</span>
                                    </span>
                                </div>
                                <div class="ant-row ant-form-item">
                                    <div class="ant-col ant-form-item-control-wrapper">
                                        <div class="ant-form-item-control relative">
                                            <span class="ant-form-item-children">
                                                <input disabled
                                                    class="ant-input text-ellipsis box-border m-0 relative inline-block w-full h-8 p-2 md:py-[4px] md:px-[11px] leading-[1.5] bg-white border border-solid border-[#d9d9d9] rounded outline-none focus:border-[#40a9ff] text-sm"
                                                    (keyup)="auto_change($event.target)" placeholder='Chọn khảo sát'
                                                    [matAutocomplete]="khaosatAutocomplete" [value]="">
                                                <mat-autocomplete #khaosatAutocomplete="matAutocomplete">
                                                    <mat-option *ngFor="let it of arr_value_ks" [value]="it.value"
                                                        style="height: 32px; font-size: 14px;" class="relative">
                                                        <span>{{it.value}}</span>
                                                    </mat-option>
                                                </mat-autocomplete>
                                                <span
                                                    class="absolute top-1/2 right-[11px] z-[1] inline-block w-3 h-3 -mt-[6px] leading-3 text-center"
                                                    style="user-select: none;">
                                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <app-typeqrcode [data]="data" (option_output)="xuat_qr($event)"></app-typeqrcode>
            </div>
            <div class="relative min-h-[1px] box-border hidden md:block md:w-[41.66666667%] float-left grow-0 shrink-0 basis-auto"
                style="padding-left: 20px; padding-right: 20px;">
                <div data-v-65d622e9="" class="py-6 px-6 bg-white rounded-xl relative shadow-md">
                    <!-- ---------------------------------------- -->
                    <div class="mb-5">
                        <div class="relative">
                            <div class="flex justify-center">
                                <app-qrcode [op_tion]="op_tion" [is_download]="status">
                                </app-qrcode>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="qrcode-step text-sm clear-both">
                            <p class="mb-1">Cách đọc mã QR</p>
                            <p><b>Bước 1: </b> Cài đặt các ứng dụng quét mã QR trên điện thoại</p>
                            <p><b>Bước 2: </b> Mở ứng dụng quét mã QR, hướng camera của điện thoại
                                về mã QR cần quét</p>
                            <p><b>Bước 3: </b> Xem thông tin trả về</p>
                        </div>
                        <div class="flex justify-center absolute w-full left-0 -bottom-16">
                            <!-- <button type="button"
                                class="mr-5 save-btn ant-btn ant-btn-default ant-btn-lg btn-success rounded-md px-[50px] h-[40px] text-[16px] text-white border-transparent bg-[#00b289]"><span>Lưu</span></button> -->
                            <button type="button" (click)="taiqr()"
                                class="w-full download-btn ant-btn ant-btn-info ant-btn-lg rounded-md px-[50px] h-[40px] text-[16px] text-white border-transparent bg-[#53b6ef]"><span>Tải
                                    QR Code xuống</span></button>
                        </div>
                    </div>


                </div>
            </div>
            <div class="relative min-h-[1px] mb-5 box-border block w-full float-left grow-0 shrink-0 basis-auto md:hidden"
                style="padding-left: 20px; padding-right: 20px;">
                <button type="button" class="w-full download-btn ant-btn ant-btn-info ant-btn-lg
                        rounded-md px-[50px] h-[40px] text-[16px] text-white border-transparent bg-[#53b6ef]"
                    (click)="showDialog()">
                    <span>Sinh mã QR Code</span></button>
            </div>
        </div>
    </div>
</div>