<div class="layoutQ px-[1px] py-[15px]">
    <h3 class="headerQ mr-[15px] ml-[10px] mb-0 font-semibold text-[1.75rem] leading-[1.2] text-[#000000d9]">
        Sản phẩm
    </h3>
</div>
<section class="bg-[#8080801c] px-[15px] mb-[15px]">
    <input type="text" class="w-[250px] text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] 
    bg-white border border-solid border-[#d9d9d9] my-[3px] mr-[6px] ml-0 h-8 text-[13px]"
        placeholder="Tên hoặc mã sản phẩm" [(ngModel)]="name_filter">
    <select class="w-[250px] text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] outline-none
    bg-white border border-solid border-[#d9d9d9] my-[3px] mr-[6px] ml-0 h-8 text-[13px]"
        placeholder="Tên hoặc mã sản phẩm" [(ngModel)]="value_select">
        <option class="text-[13px]" value="all">Trạng thái sản phẩm</option>
        <option class="text-[13px]" value="true">Kích hoạt</option>
        <option class="text-[13px]" value="false">Huỷ kích hoạt</option>
    </select>
    <button (click)="applyFilter()"
        class="leading-[1.5] relative inline-block font-normal text-center cursor-pointer h-8 px-[15px] bg-[#196898] text-white text-[13px]">Tìm
        kiếm</button>
    <button (click)="reload_grid()">
        <img _ngcontent-rua-c10="" src="/assets/images/search_reset.png"
            style="display: inline-block; width: 25px;margin-left: 12px;">
    </button>
</section>
<div class="px-[15px]">
    <section>
        <!-- <button (click)="Import_sp()"
            class="leading-[1.5] relative inline-block font-normal text-center cursor-pointer h-8 px-[15px] bg-[#196898] text-white text-[13px] mr-[5px] mb-[5px]">Import
            sản phẩm</button> -->
        <button
            class="leading-[1.5] relative inline-block font-normal text-center cursor-pointer h-8 px-[15px] bg-[#196898] text-white text-[13px] mr-[5px] mb-[5px]"
            routerLink="./add">Thêm mới</button>
        <button (click)="showXoaDialog('')"
            class="leading-[1.5] relative inline-block font-normal text-center cursor-pointer h-8 px-[15px] bg-[#ff0000a6] text-white text-[13px] mr-[5px] mb-[5px]">Xoá</button>
        <button (click)="showhide_product(false)"
            class="leading-[1.5] relative inline-block font-normal text-center cursor-pointer h-8 px-[15px] bg-[#196898] text-white text-[13px] mr-[5px] mb-[5px]">Ẩn</button>
        <button (click)="showhide_product(true)"
            class="leading-[1.5] relative inline-block font-normal text-center cursor-pointer h-8 px-[15px] bg-[#196898] text-white text-[13px] mr-[5px] mb-[5px]">Hiện</button>
        <!-- <button (click)="createQR()"
            class="leading-[1.5] relative inline-block font-normal text-center cursor-pointer h-8 px-[15px] bg-[#196898] text-white text-[13px] mr-[5px] mb-[5px]">Tạo
            QR Code</button> -->
    </section>
    <section class="mt-2">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full shadow-none">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef class="border border-solid border-[#0000001f] w-[33px]">
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row"
                    class="border border-solid border-[#0000001f] text-center cursor-pointer"
                    (click)="selection.toggle(row)">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef
                    class="border border-solid border-[#0000001f] text-[#000000d9] text-sm font-bold w-[300px]"> Tên sản
                    phẩm </th>
                <td mat-cell *matCellDef="let element" class="border border-solid border-[#0000001f]"
                    style="padding: 4px;">
                    {{element.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef
                    class="border border-solid border-[#0000001f] text-[#000000d9] text-sm font-bold font-[Roboto] w-[100px]">
                    Trạng thái
                </th>
                <td mat-cell *matCellDef="let element" class="border border-solid border-[#0000001f] text-center"
                    style="padding: 4px;" [ngSwitch]="element.status">
                    <span class="text-sm font-[Roboto]" *ngSwitchCase="false">Bị chặn</span>
                    <span class="text-sm font-[Roboto]" *ngSwitchCase="true">Kích hoạt</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="lastcreated_date">
                <th mat-header-cell *matHeaderCellDef
                    class="border border-solid border-[#0000001f] text-[#000000d9] text-sm font-bold w-[100px] font-[Roboto]">
                    Ngày cập nhật</th>
                <td mat-cell *matCellDef="let element"
                    class="border border-solid border-[#0000001f] break-all text-center" style="padding: 4px;">
                    {{element.lastcreated_date|date: 'dd/MM/yyyy hh:mm:ss'}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef
                    class="border border-solid border-[#0000001f] text-[#000000d9] text-sm font-bold w-[100px] font-[Roboto]">
                    Hành động</th>
                <td mat-cell *matCellDef="let element"
                    class="border border-solid border-[#0000001f] break-all text-center" style="padding: 4px;">
                    <i class="fa fa-trash-o px-[4px] cursor-pointer text-red-600" aria-hidden="true"
                        (click)="showXoaDialog(element.qrproductid)" [matTooltip]="'Xoá sản phẩm'"
                        [matTooltipPosition]="'above'" style="font-size: 18px;"></i>
                    <i class="fa fa-link px-[4px] cursor-pointer text-blue-600 -rotate-[85deg]" aria-hidden="true"
                        routerLink="edit/{{element.qrproductid}}" [matTooltip]="'Chi tiết sản phẩm'"
                        [matTooltipPosition]="'above'" style="font-size: 18px;"></i>                    
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="h-5"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
    </section>
</div>