<div class="my-5 mx-[25px] bg-[#f5f5f5] shadow-[0_1px_4px_#00000040] rounded-[13px]">
    <div class="bg-[#124b9f] flex  text-white h-[41px] rounded-t-[13px] items-center justify-center">
        <span class="leading-[21px] not-italic grow text-center text-sm font-[Roboto]">Câu
            {{cauhoi_in.visible_index}}</span>
        <i class="fa fa-question-circle mr-[21px]" aria-hidden="true"></i>
    </div>
    <div class="py-5 px-3" [ngSwitch]="cauhoi_in.type">
        <span class="block text-center w-full font-semibold text-sm font-[Roboto]">{{cauhoi_in.noidung}}</span>
        <div *ngSwitchCase="'luachon'">
            <div class="my-[10px] items-center justify-center" *ngFor="let it of cauhoi_in.element">
                <div class="inline-block relative w-[13px] h-[13px]">
                    <input type="checkbox" name="" id="" class="absolute top-[2px]">
                </div>
                <div class="inline-block">
                    <span class="text-[13px] font-[Roboto] leading-4 px-1 font-bold">{{it.value}}</span>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'text'">
            <div class="my-[10px] items-center justify-center">
                <input type="text" class="w-full text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] focus:border focus:border-solid focus:border-[#196898]
                bg-white border border-solid border-[#d9d9d9] my-[3px] mr-[6px] ml-0 h-8 text-[13px]"
                    placeholder="Nhập câu trả lời">
            </div>
        </div>
        <div *ngSwitchCase="'textarea'">
            <div class="my-[10px] items-center justify-center">
                <textarea name="" id="" rows="10" class="w-full text-ellipsis relative inline-block py-1 px-[11px] focus:border focus:border-solid focus:border-[#196898]
                bg-white border border-solid border-[#d9d9d9] my-[3px] mr-[6px] ml-0 h-16 text-[13px] outline-none"
                    placeholder="Nhập câu trả lời"></textarea>
            </div>
        </div>
        <div *ngSwitchCase="'dropdown'" class="relative">
            <input type="text" class="w-full text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] focus:border focus:border-solid focus:border-[#196898]
                bg-white border border-solid border-[#d9d9d9] my-[3px] mr-[6px] ml-0 h-8 text-[13px]"
                placeholder="Nhập câu trả lời">
            <i class="fa fa-angle-down absolute top-[11px] right-1" aria-hidden="true"></i>
        </div>
        <div *ngSwitchCase="'images'">
            <div class="flex flex-wrap">
                <div *ngFor="let it of cauhoi_in.element" class="flex flex-col w-[30%] mx-[10%]">
                    <div class="box-border border">
                        <img height="90" style="width: 90px; height: 90px;" width="90"
                        src="./assets/images/stran.png" alt="">
                    </div>
                    
                    <input type="checkbox" name="" id="" class="my-[10px]">
                </div>
            </div>
        </div>
    </div>
</div>