/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Lato, sans-serif;
    font-size: 16px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 4px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #196898; 
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #115077; 
  }
body {
    color: #000000a6;
    background-color: #ebf0f5;
    font-variant: tabular-nums;
    font-feature-settings: "tnum";
}

#__layout,
#__nuxt {
    min-height: 100vh;
}

img,
video {
    max-width: 100%;
    height: auto;
}

input {
    outline: none;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
}

img {
    border-style: solid;
    vertical-align: middle;
}

.header-mobile-nav[data-v-7b4125dc]::-webkit-scrollbar {
    display: none;
}

.magrin_pane {
    margin-left: 20px;
    margin-right: 20px;
}
.pd_dialog_none{
    padding: 0px;
}