<app-loadingpage *ngIf="loading$"></app-loadingpage>
<div class="layoutQ px-[1px] py-[15px]">
    <h3 class="headerQ mr-[15px] ml-[10px] mb-0 font-semibold text-[1.75rem] leading-[1.2] text-[#000000d9]">
        Danh sách QR Code
    </h3>
</div>
<section class="bg-[#8080801c] px-[15px] mb-[15px] flex">
    <div class="w-[250px] mr-[6px]">
        <input type="text" class="w-full text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] 
        bg-white border border-solid border-[#d9d9d9] my-[3px] ml-0 h-8 text-[13px]" placeholder="Tên QR Code"
            [(ngModel)]="nameqr_filter">
    </div>
    <div class="w-[250px] mr-[6px]">
        <input type="text" class="w-full text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] 
    bg-white border border-solid border-[#d9d9d9] my-[3px] ml-0 h-8 text-[13px]" placeholder="Tên đối tượng"
            [(ngModel)]="nameobj_filter">
    </div>
    <div class="w-[250px] inline-block mr-[6px]">
        <app-autocompleinput (val_out)="setval_loaiQR($event)" [data]="arr_filter_loaiQR"
            [placeholder_str]="'Loại QR Code'"></app-autocompleinput>
    </div>
    <div class="w-[250px] inline-block mr-[6px]">
        <app-autocompleinput (val_out)="setval_loaiQR($event)" [data]="arr_filter_pack"
            [placeholder_str]="'Gói dịch vụ'" class="w-[250px]"></app-autocompleinput>
    </div>
    <div class="w-[250px] text-ellipsis relative leading-[1.5]  text-[13px] mr-1">
        <mat-date-range-input [rangePicker]="picker" [formGroup]="range_active"
            class="border border-solid border-[#d9d9d9] my-[3px] bg-white py-1 leading-[1.75]"
            style="display:inline-block;width:100%;text-align: center;opacity: 1;">
            <input matStartDate placeholder="Kích hoạt: Từ ngày" style="width: 100%; font-size: 13px;"
                formControlName="start_active" (keyup)="input1_change($event)"
                (focusout)="checkinput_date($event.target)" />
            <input matEndDate placeholder="Đến ngày" style="width: 100%; font-size: 13px;" formControlName="end_active"
                (focusout)="checkinput_date($event.target)" />
        </mat-date-range-input>
        <mat-date-range-picker #picker style="display:inline-block"></mat-date-range-picker>
        <i class="fa fa-angle-down absolute top-[5px] right-0 p-2" aria-hidden="true" (click)="picker.open()"></i>
    </div>
    <div class="w-[250px] text-ellipsis relative leading-[1.5]  text-[13px] mr-1">
        <mat-date-range-input [rangePicker]="picker2" [formGroup]="range_exp"
            class="border border-solid border-[#d9d9d9] my-[3px] bg-white py-1 leading-[1.75] "
            style="display:inline-block;width:100%;text-align: center;opacity: 1;">
            <input matStartDate placeholder="HSD: Từ ngày" style="width: 100%; font-size: 13px;"
                formControlName="start_exp" (focusout)="checkinput_date($event.target)" />
            <input matEndDate placeholder="Đến ngày" style="width: 100%; font-size: 13px;" formControlName="end_exp"
                (focusout)="checkinput_date($event.target)" />
        </mat-date-range-input>
        <mat-date-range-picker #picker2 style="display:inline-block"></mat-date-range-picker>
        <i class="fa fa-angle-down absolute top-[5px] right-0 p-2" aria-hidden="true" (click)="picker2.open()"></i>
    </div>

    <button (click)="applyFilter()"
        class="leading-[1.5] relative inline-block font-normal text-center cursor-pointer h-8 px-[15px] bg-[#196898] text-white text-[13px] w-[100px] my-[3px]">Tìm
        kiếm</button>
    <button (click)="reload_grid()">
        <img _ngcontent-rua-c10="" src="/assets/images/search_reset.png"
            style="display: inline-block; width: 25px;margin-left: 12px;">
    </button>
</section>
<div class="px-[15px]">
    <section>
        <button (click)="showhide_gencode(false)"
            class="leading-[1.5] relative inline-block font-normal text-center cursor-pointer h-8 px-[15px] bg-[#196898] text-white text-[13px] mr-[5px] mb-[5px]">Ẩn</button>
        <button (click)="showhide_gencode(true)"
            class="leading-[1.5] relative inline-block font-normal text-center cursor-pointer h-8 px-[15px] bg-[#196898] text-white text-[13px] mr-[5px] mb-[5px]">Hiện</button>
        <button (click)="chon_dichvu()"
            class="leading-[1.5] relative inline-block font-normal text-center cursor-pointer h-8 px-[15px] bg-[#196898] text-white text-[13px] mr-[5px] mb-[5px]">Chuyển
            gói dịch vụ </button>        
    </section>
    <section class="h-4/6 overflow-auto">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full shadow-none">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef class="border border-solid border-[#1310101f] w-[80px]">
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row" class="border border-solid border-[#0000001f] text-center"
                    (click)="selection.toggle(row)">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="qr_name">
                <th mat-header-cell *matHeaderCellDef
                    class="border border-solid border-[#0000001f] text-[#000000d9] text-[13px] font-bold font-[Roboto]">
                    Tên QR Code
                </th>
                <td mat-cell *matCellDef="let element"
                    class="border border-solid border-[#0000001f] text-center font-[Roboto]" style="padding: 4px;">
                    <span class="text-[13px]">{{element.qr_name}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="qr_img">
                <th mat-header-cell *matHeaderCellDef
                    class="border border-solid border-[#0000001f] text-[#000000d9] text-[13px] font-bold font-[Roboto]"
                    style="width: 100px;"> Ảnh
                    QR Code </th>
                <td mat-cell *matCellDef="let element"
                    class="border border-solid border-[#0000001f] break-all text-center " style="padding: 8px;">
                    <div class="flex flex-col w-full h-full">
                        <div class="w-full flex justify-center">
                            <img [src]="element.qr_img" alt="" class="cursor-pointer" style="width: 50px;"
                                (click)="zoom_img(element.qr_img)">
                        </div>
                    </div>
                    <div class="w-full flex flex-row mt-1">
                        <div class="w-1/2">
                            <i class="fa fa-clone float-right mr-1 text-[#ffa500] cursor-pointer" aria-hidden="true"
                                (click)="copy_url(element.qr_code,element.qr_tpye)"></i>
                        </div>
                        <div class="w-1/2">
                            <i class="fa fa-download float-left ml-1 text-[#196898] cursor-pointer" aria-hidden="true"
                                (click)="download_img(element.qr_img)"></i>
                        </div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="qr_tpye">
                <th mat-header-cell *matHeaderCellDef
                    class="border border-solid border-[#0000001f] text-[#000000d9] text-[13px] font-bold font-[Roboto]"
                    style="width: 120px;">
                    Loại QR Code
                </th>
                <td mat-cell *matCellDef="let element" class="border border-solid border-[#0000001f] text-center"
                    style="padding: 4px;" [ngSwitch]="element.qr_tpye">
                    <span class="text-[13px] font-[Roboto]" *ngSwitchCase="'product'">Gán sản phẩm</span>
                    <span class="text-[13px] font-[Roboto]" *ngSwitchCase="'enterprise'">Gán doanh nghiệp</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="qr_obj_name">
                <th mat-header-cell *matHeaderCellDef
                    class="border border-solid border-[#0000001f] text-[#000000d9] text-[13px] font-bold font-[Roboto] ">
                    Đối tượng </th>
                <td mat-cell *matCellDef="let element" class="border border-solid border-[#0000001f] text-center"
                    style="padding: 4px;">
                    <a class="text-[13px] font-[Roboto] text-[#196898]"
                        [routerLink]="element.qr_obj_url">{{element.qr_obj_name}}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="status_qr">
                <th mat-header-cell *matHeaderCellDef
                    class="border border-solid border-[#0000001f] text-[#000000d9] text-[13px] font-bold font-[Roboto]"
                    style="width: 100px;">
                    Trạng thái
                </th>
                <td mat-cell *matCellDef="let element" class="border border-solid border-[#0000001f] text-center"
                    style="padding: 4px;" [ngSwitch]="element.status_qr">
                    <span
                        class="text-[13px] font-[Roboto] border border-solid border-[#b7eb8f] text-[#52c41a] bg-[#f6ffed] block"
                        *ngSwitchCase="'Kích hoạt'">{{element.status_qr}}</span>
                    <span
                        class="text-[13px] font-[Roboto] border border-solid border-[#ffa39e] text-[#f5222d] bg-[#fff1f0] block"
                        *ngSwitchCase="'Huỷ kích hoạt'">{{element.status_qr}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="pack_name">
                <th mat-header-cell *matHeaderCellDef
                    class="border border-solid border-[#0000001f] text-[#000000d9] text-[13px] font-bold font-[Roboto] "
                    style="width: 120px;">
                    Trạng thái gói dịch vụ
                </th>
                <td mat-cell *matCellDef="let element" class="border border-solid border-[#0000001f] text-center"
                    style="padding: 4px;">
                    <span class="text-[13px] font-[Roboto] block">{{element.pack_name}}</span>
                    <div [ngSwitch]="element.status_pack">
                        <span
                            class="text-[13px] font-[Roboto] border border-solid border-[#b7eb8f] text-[#52c41a] bg-[#f6ffed] block"
                            *ngSwitchCase="'Chưa hết hạn'">{{element.status_pack}}</span>
                        <span
                            class="text-[13px] font-[Roboto] border border-solid border-[#ffa39e] text-[#f5222d] bg-[#fff1f0] block"
                            *ngSwitchCase="'Hết hạn'">{{element.status_pack}}</span>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="create_date_qr">
                <th mat-header-cell *matHeaderCellDef
                    class="border border-solid border-[#0000001f] text-[#000000d9] text-[13px] font-bold font-[Roboto]"
                    style="width: 100px;">
                    Thời gian kích hoạt QR Code </th>
                <td mat-cell *matCellDef="let element"
                    class="border border-solid border-[#0000001f] text-center text-[13px] font-[Roboto]"
                    style="padding: 4px;">
                    {{element.create_date_qr|date: 'dd/MM/yyy'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="exp_date">
                <th mat-header-cell *matHeaderCellDef
                    class="border border-solid border-[#0000001f] text-[#000000d9] text-[13px] font-bold font-[Roboto] text-center"
                    style="width: 100px;">
                    Hạn sử dụng </th>
                <td mat-cell *matCellDef="let element"
                    class="border border-solid border-[#0000001f] text-center text-[13px] font-[Roboto]"
                    style="padding: 4px;">
                    {{element.exp_date|date: 'dd/MM/yyy'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef
                    class="border border-solid border-[#0000001f] text-[#000000d9] text-[13px] font-bold  font-[Roboto]"
                    style="width: 100px;">
                    Thao tác</th>
                <td mat-cell *matCellDef="let element"
                    class="border border-solid border-[#0000001f] break-all text-center" style="padding: 4px;">
                    <mat-slide-toggle [checked]="element.status_qr=='Kích hoạt'" (change)="active_status(element)">
                    </mat-slide-toggle>
                    <i class="fa fa-history ml-2 text-red-600 cursor-pointer" style="font-size: 20px;"
                        aria-hidden="true" (click)="show_his(element.qr_tpye,element.qrgencodeid)"></i>
                </td>
            </ng-container>
            <tr class="mat-row" *matNoDataRow>
                <td class="border border-solid border-[#0000001f] break-all font-[Roboto] text-[13px] text-center p-5"
                    [attr.colspan]="displayedColumns.length">
                    Không có dữ liệu
                </td>
            </tr>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="h-5"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
    </section>
</div>