<div class="bg-[#f1f4f5a6]">
    <div class="flex flex-row mx-5">
        <div class="w-2/3 mr-5 mt-5">
            <div class="bg-white w-full mb-5 p-4 shadow-lg">
                <label for="" class="block mb-1 text-sm font-bold text-[13px] font-[Roboto]">Tên khảo sát</label>
                <input type="text" class="w-full text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] focus:border focus:border-solid focus:border-[#196898]
                bg-white border border-solid border-[#d9d9d9] my-[3px] mr-[6px] ml-0 h-8 text-[13px]">
                <label for="" class="block mb-1 text-sm font-bold text-[13px] font-[Roboto]">Nhóm khảo sát</label>
                <input type="text" class="w-full text-ellipsis relative inline-block py-1 px-[11px] leading-[1.5] focus:border focus:border-solid focus:border-[#196898]
                bg-white border border-solid border-[#d9d9d9] my-[3px] mr-[6px] ml-0 h-8 text-[13px]">
            </div>
            <div class="bg-white  shadow-lg">
                <div class="bg-[#124b9f] h-10 text-center items-center justify-center flex">
                    <span class="text-white text-lg uppercase font-[Roboto]">Danh sách câu hỏi</span>
                </div>
                <div *ngFor="let it of arr_cauhoi" class="relative pt-4 px-4">
                    <app-cauhoi [cauhoi_in]="it"></app-cauhoi>
                    <i [ngClass]="{'visible cursor-pointer':it.visible_index>1 && arr_cauhoi.length>1,'invisible':it.visible_index==1}"
                        class="fa fa-long-arrow-up p-2 absolute top-[22px] text-white right-[74px]"
                        style="font-size: 14px;" aria-hidden="true" (click)="move_index(it.visible_index,'up')"></i>
                    <i [ngClass]="{'visible cursor-pointer':it.visible_index<arr_cauhoi.length && arr_cauhoi.length>1,'invisible':it.visible_index==arr_cauhoi.length}"
                        class="fa fa-long-arrow-down p-2 absolute top-[22px] text-white right-[48px]"
                        style="font-size: 14px;" aria-hidden="true" (click)="move_index(it.visible_index,'down')"></i>
                    <img class="absolute top-[29px] right-[28px] cursor-pointer" alt=""
                        src="./assets/images/ic-remove.png" (click)="xoa_cauhoi(it)">
                </div>
                <div class="relative mx-4">
                    <button (click)="show_menu=!show_menu " class="mt-3 leading-[1.5] relative inline-block font-normal text-center cursor-pointer h-8 px-[15px]
                    bg-[#124b9f] text-white text-[13px] mr-[5px] my-[5px]"><i class="fa fa-plus"
                            aria-hidden="true"></i> Thêm câu hỏi</button>
                    <ul class="absolute -top-[151px] bg-white z-10 left-0 border border-solid border-[#124b9f]"
                        [ngClass]="{'hidden':!show_menu,'block':show_menu}">
                        <li class="text-xs text-gray-700 font-[Roboto] p-2 min-w-[117px] hover:bg-[#124b9f] hover:text-white cursor-pointer"
                            (click)="them_cauhoi('text')">Văn bản</li>
                        <li class="text-xs text-gray-700 font-[Roboto] p-2 min-w-[117px] hover:bg-[#124b9f] hover:text-white cursor-pointer"
                            (click)="them_cauhoi('textarea')">Đoạn văn</li>
                        <li class="text-xs text-gray-700 font-[Roboto] p-2 min-w-[117px] hover:bg-[#124b9f] hover:text-white cursor-pointer"
                            (click)="them_cauhoi('luachon')">Lựa chọn</li>
                        <li class="text-xs text-gray-700 font-[Roboto] p-2 min-w-[117px] hover:bg-[#124b9f] hover:text-white cursor-pointer"
                            (click)="them_cauhoi('dropdown')">Xổ xuống</li>
                        <li class="text-xs text-gray-700 font-[Roboto] p-2 min-w-[117px] hover:bg-[#124b9f] hover:text-white cursor-pointer"
                            (click)="them_cauhoi('images')">Chọn hình ảnh</li>
                    </ul>
                </div>

            </div>

        </div>
        <div class="bg-white h-[780px] w-1/3 shadow-lg mt-5">
            <div class="flex flex-col items-center mt-8">
                <div class="showview_content w-[400px] h-auto min-w-[350px] relative overflow-auto rounded-[57px]">
                    <img class="sticky h-[700px] w-full top-0 left-0 z-[2]" alt="" src="./assets/images/mobile.png">
                    <div class="px-4 pb-8 pt-16 absolute top-0 left-0 w-full h-full">
                        <app-showquestion [array_cauhoi]="arr_cauhoi"></app-showquestion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>