<div (mouseover)="hover_menu()" (mouseleave)="leave_menu()" #menuleft
    class="bg-white border-r border-solid border-[#c0c0c052] transition-all duration-200 fixed z-[99] h-screen hover:flex-[0_0_240px] hover:min-w-[240px] hover:w-[240px]"
    [ngClass]="{'flex-[0_0_80px]':!showNav,' min-w-[80px]':!showNav,'w-[80px]':!showNav,'flex-[0_0_240px]':showNav,'min-w-[240px]':showNav,'w-[240px]':showNav}">
    <div>
        <div style="height: 75px">
            <div class="logo blockLogo py-[10px] text-center">
                <img [ngClass]="{'block':hover_status,'hidden':!hover_status}"
                    class="mx-[10px] mt-[6px] mb-[10px] align-middle"
                    src="https://marketing.icheck.vn/assets/logo-mkt-sidebar.png">
            </div>
        </div>
    </div>
    <ul
        class="ant-menu ant-menu-root ant-menu-light ant-menu-inline w-full box-border text-[14px] text-[#000000a6] leading-[0] outline-[0] font-semibold">
        <li class="mb-2 w-[calc(100%_+_1px)] h-10 leading-10 mt-1 overflow-hidden text-[14px] relative block m-0 whitespace-nowrap cursor-pointer"
            routerLink="./dashboard" (click)="menu_click('')"
            [ngClass]="{'text-clip':!showNav,'text-ellipsis': showNav,'px-8':!showNav,'left-0':!showNav,'text-center':!hover_status,
                    'pl-6':hover_status,'border-r-[3px] border-solid border-[#196898]':hover_status && name_link=='dashboard'}"
            (click)="select_link('dashboard')" routerLinkActive="text-[#196898]">
            <i class="anticon anticon-line-chart min-w-[14px] text-[14px] text-center inline-block align-[-0.125em]"
                [ngClass]="{'mr-[10px]':hover_status,'m-0':!hover_status}">
                <svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" data-icon="line-chart"
                    aria-hidden="true">
                    <path
                        d="M888 792H200V168c0-4.4-3.6-8-8-8h-56c-4.4 0-8 3.6-8 8v688c0 4.4 3.6 8 8 8h752c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8zM305.8 637.7c3.1 3.1 8.1 3.1 11.3 0l138.3-137.6L583 628.5c3.1 3.1 8.2 3.1 11.3 0l275.4-275.3c3.1-3.1 3.1-8.2 0-11.3l-39.6-39.6a8.03 8.03 0 00-11.3 0l-230 229.9L461.4 404a8.03 8.03 0 00-11.3 0L266.3 586.7a8.03 8.03 0 000 11.3l39.5 39.7z">
                    </path>
                </svg></i>
            <span class="font-sans leading-10"
                [ngClass]="{'inline-block':!hover_status,'max-w-0':!hover_status,'opacity-0':!hover_status}">Trang
                chủ</span>
        </li>
        <li>
            <div [ngClass]="{'text-clip':!showNav,'text-ellipsis': showNav,'px-8':!showNav,'left-0':!showNav,'pl-6':hover_status,'text-[#196898]':name_link=='doituong'}"
                (click)="onButtonClick('doituong')"
                class="leading-10 h-10  mr-1 overflow-hidden text-sm relative block m-0 whitespace-nowrap cursor-pointer box-border w-[calc(100%_+_1px)]">
                <i class="anticon ng-tns-c2-0 anticon-shopping ng-star-inserted
                    min-w-[14px] text-sm inline-block" [ngClass]="{'mr-[10px]':hover_status,'m-0':!hover_status}">
                    <svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" class="ng-tns-c2-0"
                        data-icon="shopping" aria-hidden="true">
                        <path
                            d="M832 312H696v-16c0-101.6-82.4-184-184-184s-184 82.4-184 184v16H192c-17.7 0-32 14.3-32 32v536c0 17.7 14.3 32 32 32h640c17.7 0 32-14.3 32-32V344c0-17.7-14.3-32-32-32zm-432-16c0-61.9 50.1-112 112-112s112 50.1 112 112v16H400v-16zm392 544H232V384h96v88c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-88h224v88c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-88h96v456z">
                        </path>
                    </svg>
                </i>
                <span class="ng-tns-c2-0 ng-star-inserted font-sans leading-10"
                    [ngClass]="{'inline-block':!hover_status,'max-w-0':!hover_status,'opacity-0':!hover_status}">Quản
                    lý đối tượng</span>
                <i class="fas fa-angle-down absolute right-4 top-4 text-[13px]"
                    [ngClass]="{'inline-block':hover_status,'hidden':!hover_status}"></i>
            </div>
            <ul #doituong class="ng-star-inserted" (click)="select_link('doituong')"
                [ngClass]="{'block':check_visible('doituong'),'hidden':!check_visible('doituong')}">
                <li routerLink="./products" (click)="menu_click('Sản phẩm')" tabindex="0"
                    routerLinkActive="border-r-[3px] border-solid border-[#196898] text-[#196898]" class="ant-menu-item font-sans mb-2 w-[calc(100%_+_1px)] h-10 mt-1 px-4 overflow-hidden text-sm leading-10 text-ellipsis relative block m-0 whitespace-nowrap cursor-pointer
                    " style="padding-left: 48px;">Sản
                    phẩm</li>
                <li routerLink="./companies" (click)="menu_click('Doan nghiệp, cá nhân')" tabindex="0"
                    class="ant-menu-item font-sans mb-2 w-[calc(100%_+_1px)] h-10 mt-1 px-4 overflow-hidden text-sm leading-10 text-ellipsis relative block m-0 whitespace-nowrap cursor-pointer"
                    routerLinkActive="border-r-[3px] border-solid border-[#196898]  text-[#196898]"
                    style="padding-left: 48px;">
                    Doanh nghiệp, cá nhân</li>
                <li routerLink="./survey" (click)="menu_click('Khảo sát')" tabindex="0"
                    class="ant-menu-item font-sans mb-2 w-[calc(100%_+_1px)] h-10 mt-1 px-4 overflow-hidden text-sm leading-10 text-ellipsis relative block m-0 whitespace-nowrap cursor-pointer"
                    routerLinkActive="border-r-[3px] border-solid border-[#196898]  text-[#196898]"
                    style="padding-left: 48px;">Khảo
                    sát</li>
            </ul>
        </li>
        <li></li>
        <li></li>
    </ul>
</div>