<div class="label not-italic font-bold text-[24px] leading-[29px] text-center text-[#0e2a6d]">
    Đặt lại mật khẩu
</div>
<div class="ant-col ant-form-item-label"><label title="Số điện thoại">
        <span class="text-sm ">Email</span>
        <span><span>(</span><span class="text-red-600 align-text-top">*</span><span>)</span> </span>
    </label>
</div>
<div class="ant-col -wrapper">
    <div class=" has-success"><span class="ant-form-item-children">
            <input placeholder="Nhập email thay đổi mật khẩu" type="text" [(ngModel)]="user_name"
                (focusout)="user_name=user_name.trim()"
                class="ant-input box-border m-0 list-none relative inline-block w-full h-8 py-1 px-[11px] text-sm border border-solid border-[#d9d9d9] rounded-[4px] transition-all ease-in-out duration-300 hover:border-[#40a9ff] focus:border-[#40a9ff]">
        </span>
    </div>
    <div *ngIf="!required">
        <span class="text-red-600 text-xs italic">Sai định dạng email!</span>
    </div>
    <div class="mt-4">
        <button type="button" class="w-full rounded-[6px] h-11 inline-block relative items-center whitespace-nowrap font-normal px-[15px]
        cursor-pointer text-white" (click)="reset_pass()" [attr.disabled]="!required ? '' : null"
            [ngClass]="{'cursor-not-allowed bg-[#4a7dc9] border-[#4a7dc9]':!required,'cursor-pointer bg-[#124b9f] border-[#124b9f]':required}"><span>Xác
                nhận</span>
        </button>
    </div>
</div>