<div class="relative min-h-[1px] box-border w-[20.83333333%] float-left grow-0 shrink-0 basis-auto hidden md:block"
    style="padding-left: 20px; padding-right: 20px;">
    <div>
        <ul class="bg-white pr-5 py-4 rounded-xl shadow-lg">
            <a class="pl-8 py-3 cursor-pointer duration-300 block rounded-r-full" routerLink="./van-ban"
                routerLinkActive="bg-[#53b6ef26]">
                <div class="flex items-center text-gray-600 hover:text-current mb-0 justify-between pr-2">
                    <div class="item-label"><span class="mr-2 icon_css"></span>
                        Văn bản
                        <!---->
                    </div>
                    <!---->
                </div>
            </a>
            <a class="pl-8 py-3 cursor-pointer duration-300 block rounded-r-full" routerLink="./v-card"
                routerLinkActive="bg-[#53b6ef26]">
                <div data-v-2865fcc2=""
                    class="flex items-center text-gray-600 hover:text-current mb-0 justify-between pr-2">
                    <div data-v-2865fcc2="" class="item-label"><span data-v-2865fcc2=""
                            class="mr-2 icon-ic_user"></span>
                        V-Card
                        <!---->
                    </div>
                    <!---->
                </div>
            </a>
            <li class="pl-8 py-3 cursor-pointer duration-300">
                <div data-v-2865fcc2=""
                    class="flex items-center text-gray-600 hover:text-current mb-0 justify-between pr-2">
                    <div data-v-2865fcc2="" class="item-label"><span data-v-2865fcc2=""
                            class="mr-2 icon-ic_email"></span>
                        Email
                        <!---->
                    </div>
                    <!---->
                </div>
            </li>
            <li class="pl-8 py-3 cursor-pointer duration-300">
                <div data-v-2865fcc2=""
                    class="flex items-center text-gray-600 hover:text-current mb-0 justify-between pr-2">
                    <div data-v-2865fcc2="" class="item-label"><span data-v-2865fcc2="" class="mr-2 icon-ic_sms"></span>
                        Tin nhắn SMS
                        <!---->
                    </div>
                    <!---->
                </div>
            </li>
            <li class="pl-8 py-3 cursor-pointer duration-300">
                <div data-v-2865fcc2=""
                    class="flex items-center text-gray-600 hover:text-current mb-0 justify-between pr-2">
                    <div data-v-2865fcc2="" class="item-label"><span data-v-2865fcc2=""
                            class="mr-2 icon-ic_phone"></span>
                        Cuộc gọi
                        <!---->
                    </div>
                    <!---->
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="relative min-h-[1px] block box-border w-full md:w-[79.16666667%] float-left grow-0 shrink-0 basis-auto"
    style="padding-left: 20px; padding-right: 20px;">
    <router-outlet></router-outlet>
</div>