<div class="relative min-h-[1px] box-border w-[20.83333333%] float-left grow-0 shrink-0 basis-auto hidden md:block"
    style="padding-left: 20px; padding-right: 20px;">
    <div>
        <ul class="bg-white pr-5 py-4 rounded-xl shadow-lg">
            <a class="pl-8 py-3 cursor-pointer duration-300 block rounded-r-full text-gray-600" routerLink="./product"
                routerLinkActive="bg-[#53b6ef26] text-[#153071]">
                <div data-v-2865fcc2=""
                    class="flex items-center  hover:text-current mb-0 justify-between pr-2">
                    <div data-v-2865fcc2="" class="item-label">
                        <!-- <span data-v-2865fcc2="" class="mr-2 icon-ic_user"></span> -->
                        Sản phẩm
                        <!---->
                    </div>
                    <!---->
                </div>
            </a>
            <a class="pl-8 py-3 cursor-pointer duration-300 block rounded-r-full text-gray-600" routerLink="./ojbect"
                routerLinkActive="bg-[#53b6ef26] text-[#153071]">
                <div data-v-2865fcc2=""
                    class="flex items-center hover:text-current mb-0 justify-between pr-2">
                    <div data-v-2865fcc2="" class="item-label">
                        <!-- <span data-v-2865fcc2="" class="mr-2 icon-ic_email"></span> -->
                        Doanh nghiệp & Cá nhân
                        <!---->
                    </div>
                    <!---->
                </div>
            </a>
            <a class="pl-8 py-3 cursor-pointer duration-300 block rounded-r-full text-gray-600" routerLink="./link"
                routerLinkActive="bg-[#53b6ef26] text-[#153071]">
                <div data-v-2865fcc2=""
                    class="flex items-center hover:text-current mb-0 justify-between pr-2">
                    <div data-v-2865fcc2="" class="item-label">
                        <!-- <span data-v-2865fcc2="" class="mr-2 icon-ic_sms"></span> -->
                        Link
                        <!---->
                    </div>
                    <!---->
                </div>
            </a>
            <a class="pl-8 py-3 cursor-pointer duration-300 block rounded-r-full text-gray-600" routerLink="./social"
                routerLinkActive="bg-[#53b6ef26] text-[#153071]">
                <div data-v-2865fcc2=""
                    class="flex items-center hover:text-current mb-0 justify-between pr-2">
                    <div data-v-2865fcc2="" class="item-label">
                        <!-- <span data-v-2865fcc2="" class="mr-2 icon-ic_phone"></span> -->
                        Trang mạng xã hội
                        <!---->
                    </div>
                    <!---->
                </div>
            </a>
            <a class="pl-8 py-3 cursor-pointer duration-300 block rounded-r-full text-gray-600" routerLink="./shop"
                routerLinkActive="bg-[#53b6ef26] text-[#153071]">
                <div data-v-2865fcc2=""
                    class="flex items-center hover:text-current mb-0 justify-between pr-2">
                    <div data-v-2865fcc2="" class="item-label">
                        <!-- <span data-v-2865fcc2="" class="mr-2 icon-ic_phone"> </span> -->
                        Trang bán hàng
                        <!---->
                    </div>
                    <!---->
                </div>
            </a>
            <a class="pl-8 py-3 cursor-pointer duration-300 block rounded-r-full text-gray-600" routerLink="./survey"
                routerLinkActive="bg-[#53b6ef26] text-[#153071]">
                <div data-v-2865fcc2=""
                    class="flex items-center hover:text-current mb-0 justify-between pr-2">
                    <div data-v-2865fcc2="" class="item-label">
                        <!-- <span data-v-2865fcc2="" class="mr-2 icon-ic_phone"> </span> -->
                        Khảo sát
                        <!---->
                    </div>
                    <!---->
                </div>
            </a>
        </ul>
    </div>
</div>
<div class="relative min-h-[1px] block box-border w-full md:w-[79.16666667%] float-left grow-0 shrink-0 basis-auto"
    style="padding-left: 20px; padding-right: 20px;">
    <router-outlet></router-outlet>
</div>