<div class="w-full h-full relative">
    <div class="bg-[#196898] py-[10px] px-[15px]">
        <div class="text-white text-sm leading-[22px] break-words font-medium">
            <div>{{title}}</div>
        </div>
    </div>
    <div class="w-full">
        <button class="absolute top-0 right-0 h-[42px] w-[42px] text-white">Chọn file</button>
        <button class="absolute top-0 right-0 h-[42px] w-[42px] text-white">Tải file mẫu</button>
    </div>
    <button class="absolute top-0 right-0 h-[42px] w-[42px] text-white"><i class="fa fa-times" aria-hidden="true"
        ></i></button>
</div>